.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flex-content {
  width: 50%;
  margin-bottom: 4px;
}

.flex-content .input-form {
  width: 100%;
  margin-top: -5px;
}

.title{
    margin-top: 8px;
}
